RewriteEngine On

# Set the Authorization header for PHP
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

# Handle Authorization Header
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

# Send all requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [QSA,L] 