# Dependencies
node_modules/
vendor/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
/frontend/dist

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# PHP specific
/backend/var/
/backend/vendor/
.php-version
.phpunit.result.cache

# Cache and compiled files
*.cache
.cache/
.temp/
.tmp/
